body {
    width: 1000px;
    margin: 0 auto;

}

header {
    background-color: #F5DE92;
    height: 50px;
    padding-top: 10px;
    font-size: 38px;
}

nav {
    background-color: #FEF2C8;
    height: 25px;
    padding: 5px;
}

section {
    float: left;
    width: 300px;
    height: 1000px;
    background-color: #C5C4BF;
}

aside {
    float: left;
    width: 700px;
    height: 1000px;
    background-color: rgb(233, 212, 192);
}

footer {
    clear: both;
    height: 50px;
    background-color: #8d806c;
}
.center {
    text-align: center;
}

html {
    scroll-behavior: smooth;
}