@font-face {
    font-family: nos;
    src: url(/fonts/blankenburg/Blankenburg.ttf);
}

.closed {
    color: red;
}

.open {
    color: green;
}

table,
th {
    color: aliceblue;
    margin: 10px auto;
    font-size: clamp(10px, 3vw, 24px);
    padding: 5px;
    border: 3px solid rgb(0, 0, 0);
    border-collapse: collapse;
    background-color: rgb(80, 62, 62);

}

td {
    color: rgb(37, 170, 37);
    margin: auto;
    padding: auto;
    border: 1px solid rgb(54, 26, 26);
    border-collapse: collapse;
    font-size: clamp(6px, 3vw, 18px);
}

body {
    max-width: 100%;
    background-image: url(https://raw.githubusercontent.com/CharliezXx/MyGalleryPage/main/img/backgorund.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 10%;
}

header {
    background-color: hsl(0, 63%, 54%);
    max-height: 50px;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: clamp(24px, 3vw, 62px);
}

nav {
    position: sticky;
    overflow: hidden;
    background-color: hsl(0, 29%, 60%);
    height: 40px;
    padding: 10px;
    top: 0;
}



section {
    width: 100%;
    height: 100%;
    padding-bottom: 2%;
    background-image: linear-gradient(rgb(59, 59, 59), rgb(56, 56, 56));
}

aside {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgb(56, 56, 56), rgb(59, 59, 59));
    padding-bottom: 2%;
}

footer {
    clear: both;
    border-top: 3px solid hsl(0, 53%, 19%);
    height: 100%;
    background-color: hsl(0, 63%, 54%);
}

div::selection{
    background:hsl(0, 30%, 54%) ;
    color: black;
}
strong::selection{
    background:hsl(0, 30%, 54%) ;
    color: black;
}

img {
    width: 190px;
    height: 190px;
    object-fit: cover;
}

button {
    outline: 1.5px solid hsl(0, 30%, 54%);
    outline-offset: 0.2rem;
    border-radius: 0%;
    background-color: hsl(0, 30%, 54%);
    border: 0px;
    height: 30px;
}
button:hover,button:active {
    background-color: hsl(0, 63%, 54%);
}
.nav-button {
    outline: 1.5px solid hsl(0, 76%, 87%);
    outline-offset: 0.2rem;
    border-radius: 0%;
    margin: 5px 5px;
    background-color: hsl(0, 76%, 87%);
    border: 0px;
}

.center {
    text-align: center;
}
.qoutes {
    padding: 2%;
    color: white;
    font-size: clamp(24px, 3vw, 42px);
}
.works {
    padding: 2%;
    color: white;
    font-size: clamp(30px, 3vw, 62px);
}

.header-font {
    font-family: nos;
}

.artshowcase {
    background-color: #b6b6b6;
    padding: 2%;
    margin: 0 20%;
    border-radius: 2px;
    box-shadow: 5px 5px hsl(0, 30%, 54%);
}

.videoshowcase {
    background-color: #b6b6b6;
    padding: 2%;
    margin: 10px 20%;
    border-radius: 2px;
    box-shadow: 5px 5px hsl(0, 30%, 54%);
    
}

.commission-section {
    background-color: #b6b6b6;
    padding: 2%;
    margin: 10px 20%;
    border-radius: 2px;
}

.video {
    margin: 10px 5px;
    object-fit: cover;
    width: 190px;
    height: 190px;
}

.commission {
    color: white;
    font-size: clamp(30px, 3vw, 62px);
}

.img-radius {
    border-radius: 5px;
    margin: 5px 5px;
    border: 3px solid rgb(59, 59, 59);
}

.topic {
    text-align: left;
    font-size: clamp(24px, 3vw, 62px);
    font-family: nos;
}

.footer-text {
    margin: 10px 0px;
}

.footer-img {
    height: 30px;
    width: 30px;
    margin: 10px 5px;

}

.commission-status {
    color: white;
}

.commission-info {
    text-align: left;
    font-size: clamp(6px, 3vw, 18px);

}

html {
    scroll-behavior: smooth;
}